* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.title {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    display: grid;
    height: 600px;
    width: 600px;
    outline-style: solid;
}

.canvas:hover {
    cursor: pointer;
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
